---
const { blog } = Astro.props
import type { CollectionEntry } from 'astro:content'

interface Props {
	blog: CollectionEntry<'blog'>
}
---

<div class="flex flex-1 flex-col gap-5">
	<a href={`/blog/${blog.slug}`} class="">
		<img src={blog.data.image} alt={blog.slug} class="w-full bg-cover bg-center" />
	</a>
	<a href={`/blog/${blog.slug}`} class="">
		<h5 class="w-full max-w-sm text-xl font-medium lg:max-w-[30rem] lg:text-2xl lg:leading-normal">
			{blog.data.title}
		</h5>
	</a>
	<p class="w-full max-w-sm leading-relaxed opacity-80 lg:max-w-[30rem]">
		{blog.data.description.slice(0, 150) + '...'}
	</p>
</div>
